<a href="https://colab.research.google.com/github/ayeshasGithub/Amazon-use-cases/blob/master/DataCleaningAssignment_iNeuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

link: https://drive.google.com/file/d/1ISetIhHbrX2_s8aUe5V0yMI4NwzBA32q/view 

https://www.kdnuggets.com/2019/08/25-tricks-pandas.html

Problem Statement<br>
<font color='blue'>
It happens all the time: someone gives you data containing malformed strings,
Python, lists and missing data. How do you tidy it up so you can get on with the
analysis?<br>
Take this monstrosity as the DataFrame to use in the following puzzles:
</font><br>
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],<br>
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],<br>
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],<br>
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',<br>
'12. Air France', '"Swiss Air"']})<br>

In [1]:
import pandas as pd
import numpy as np

#in the following line df has been stated as a dictionary and passed pd.DataFrame

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', ' (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})


print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []                 (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

#### 1. Some values in the the FlightNumber column are missing. <br>
* These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. <br>
* Fill in these missing numbers and make the column an integer column (instead of a float column).<br>
link: https://www.geeksforgeeks.org/change-data-type-for-one-or-more-columns-in-pandas-dataframe/

In [2]:
#isolate FlighNumber and assign the second and fourth row 100055
print(df.dtypes)

df['FlightNumber'][1]=df['FlightNumber'][0]+10
df['FlightNumber'][3]=df['FlightNumber'][2]+10


convert_dict = {'FlightNumber': int
                
               } 
  
df = df.astype(convert_dict) 
print(df.dtypes) 


print(df['FlightNumber'])

From_To          object
FlightNumber    float64
RecentDelays     object
Airline          object
dtype: object
From_To         object
FlightNumber     int64
RecentDelays    object
Airline         object
dtype: object
0    10045
1    10055
2    10065
3    10075
4    10085
Name: FlightNumber, dtype: int64

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

#### 2. The 'From_To' column would be better as two separate columns! <br>

* Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. <br>
*Assign the correct column names to this temporary
DataFrame.<br>
link: https://www.geeksforgeeks.org/split-a-text-column-into-two-columns-in-pandas-dataframe/

In [3]:
#df['FlightNumber']=df['FlightNumber'].split()

#new column 'From' & 'To'
df[['From','To']] = df.From_To.str.split("_",expand=True) 

print(df)
#new column 'To'
#df['To']

            From_To  FlightNumber  ...      From         To
0      LoNDon_paris         10045  ...    LoNDon      paris
1      MAdrid_miLAN         10055  ...    MAdrid      miLAN
2  londON_StockhOlm         10065  ...    londON  StockhOlm
3    Budapest_PaRis         10075  ...  Budapest      PaRis
4   Brussels_londOn         10085  ...  Brussels     londOn

[5 rows x 6 columns]

#### 3. Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. <br>
* Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)<br>

link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.capitalize.html

In [4]:
df.From=df.From.str.capitalize()
df.To=df.To.str.capitalize()
print(df)

            From_To  FlightNumber  ...      From         To
0      LoNDon_paris         10045  ...    London      Paris
1      MAdrid_miLAN         10055  ...    Madrid      Milan
2  londON_StockhOlm         10065  ...    London  Stockholm
3    Budapest_PaRis         10075  ...  Budapest      Paris
4   Brussels_londOn         10085  ...  Brussels     London

[5 rows x 6 columns]

#### 4. Delete the 'From_To' column from df and attach the temporary DataFrame from the previous questions.<br>

In [5]:
del df['From_To']
print(df)

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []                 (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

#### 5. In the RecentDelays column, the values have been entered into the DataFrame as a list. <br>
* We would like each first value in its own column, each second value in its own column, and so on.
* If there isn't an Nth value, the value should be NaN.<br>
* Expand the Series of lists into a DataFrame named delays, rename the columns
delay_1, delay_2, etc. 
* And replace the unwanted RecentDelays column in df
with delays.</font>

link1: https://datascience.stackexchange.com/questions/11797/split-a-list-of-values-into-columns-of-a-dataframe 
link2: Pandas column of lists, create a row for each list element
https://stackoverflow.com/questions/27263805/pandas-column-of-lists-create-a-row-for-each-list-element 
link3: https://chrisalbon.com/python/data_wrangling/pandas_expand_cells_containing_lists/

In [6]:
#df.RecentDelays


# expand df.RecentDelays into its own dataframe
delays = df['RecentDelays'].apply(pd.Series)

# rename each variable is delays
delays = delays.rename(columns = lambda x : 'delay_' + str(x))

# view the delays dataframe
delays

   delay_0  delay_1  delay_2
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

In [7]:
# join the delays dataframe back to the original dataframe
df=pd.concat([df[:], delays[:]], axis=1)
del df['RecentDelays']
print(df)

   FlightNumber              Airline      From  ... delay_0  delay_1  delay_2
0         10045               KLM(!)    London  ...    23.0     47.0      NaN
1         10055                 (12)    Madrid  ...     NaN      NaN      NaN
2         10065  (British Airways. )    London  ...    24.0     43.0     87.0
3         10075       12. Air France  Budapest  ...    13.0      NaN      NaN
4         10085          "Swiss Air"  Brussels  ...    67.0     32.0      NaN

[5 rows x 7 columns]